body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8800;
    padding: 15px 50px;
}
.logo img {
    width: 50px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
nav ul li a:hover, 
nav ul li a:active {
    background: white;
    padding: 8px 12px;
    border-radius: 5px;
}
.intro{
    text-align: center;
    padding: 50px 20px;
}
.intro img {
    max-width: 100%;
    border-radius: 10px;
}

.welcome,.menu {
    text-align: center;
    padding: 50px 20px;
}

.drinks {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.drink img {
    width: 100px;
    border-radius: 10px;
}
.drink img:hover{
    width: 200px;
    border-radius: 20px;
}
.order {
    text-align: center;
    padding: 50px 20px;
    background: white;
    border-top: 5px solid #ff8800;
}
.order h2 {
    color: #ff8800;
    font-size: 2rem;
    margin-bottom: 10px;
}
.order p {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 30px;
}
.order form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.form-group label {
    font-size: 1rem;
    color: black;
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
}
.order-button {
    display: inline;
    background-color: #ff8800;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.order-button:hover{
    background-color: black;
    color: white;
}
.locations img {
    width: 250px;
    border-radius: 10px;
}
.location {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    margin: 30px;


}
.location:hover,
.location:active {
    background-color: lightblue;
    padding: 8px 12px;
    border-radius: 5px;
}
.feedback {
    text-align: center;
    padding: 50px 20px;
    background: white;
}
.feedback h2 {
    color: #ff8800;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.feedback p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: gray;
}
.feedback form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;

}
.feedback-button {
    display: inline-block;
    background: #ff8800;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.feedback-button:hover {
    background-color: black;
    color: white;
}
.reviews {
    text-align: center;
    background: #fff3e0;
    padding: 50px 20px;
}
.reviews .review {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-left: 5px solid #ff8800;
    border-radius: 10px;

}

.reviews h2 {
    color: #ff8800;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}
footer a {
    color: #ff8800;
    text-decoration: none;
}

footer .social-icons img {
    width: 30px;
    margin: 0 10px;
}

